
<!DOCTYPE html>
<html>
  <head>
    <title>CarQuery Select</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>
<!-- 
<div class="container">
  <select name="car-years" id="car-years"></select>  
<select name="car-makes" id="car-makes"></select> 
<select name="car-models" id="car-models"></select>
<select name="car-model-trims" id="car-model-trims"></select>  
</div> -->





    <div class="container mt-5">

      <div class="row no-gutters m-auto col-md-6">
          <h1 class="text-center py-5 col">CarQuery select</h1>
          <div class="col-12 text-center col-12 mb-4">
      
            <select class="form-control" id="brand-select">
                <option id="default" selected disabled value="">Selectionez la marque :</option>
              <% 
                
                for (const i in brands) {
                %>
                  <option value="<%= brands[i].make_display %>"><%=  brands[i].make_display %> </option>
              <% } %>









            </select>
              
          </div>

          <div class="col-12 text-center col-12 mb-4">
      
            <select class="form-control" id="model-select" >
              <option id="default" selected disabled value="">Selectionez le modèle :</option>
            </select>
            </div>

          




      
          <div class="card d-none bg-light col-12 m-auto">
              <div class="card-header">
                  <h4 class="card-title"><span id="car-marque-nom"></span></h4>
              </div>
              <div class="card-body">
                  
                  <p id="car-marque" class="card-text"></p>

                  <p id="car-nom" class="card-text"></p>

                  <p id="car-motorisation" class="card-text"></p>

                  <p id="car-type" class="card-text"></p>

                  <p id="car-pays-origine" class="card-text"></p>

                  <p id="car-portes" class="card-text"></p>

                  <p id="car-sieges" class="card-text"></p>

                  <p id="car-bdv" class="card-text"></p>

                  <p id="car-fuel" class="card-text"></p>
                  
                  <p id="car-year" class="card-text"></p>





              </div>
              
          </div>





        
      </div>


  </div>

 

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../javascripts/car.js"> 



    </script>
  </body>
</html>