
<!DOCTYPE html>
<html>
  <head>
    <title>jsonSelect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container mt-5">

      <div class="row no-gutters m-auto col-md-6">
          <h1 class="text-center py-5 col">Json select</h1>
          <div class="col-12 text-center col-12 mb-4">
      
            <select class="form-control" id="user-select">
                <option id="default" selected disabled value="">Selectionez l'utilisateur :</option>
              <% Object.keys(users).forEach(key => { %>
                  <option value="<%= [key] %>"><%= users[key].nom %> <%= users[key].prenom %></option>
              <% }) %>
            </select>
              
          </div>
      
          <div class="card d-none bg-light col-12 m-auto">
              <div class="card-header">
                  <h4 class="card-title"><span id="user-nom"></span> <span id="user-prenom"></span></div></h4>
              <div class="card-body">
                  
                  <p class="card-text">Age : <span id="user-age"></span></p>
                  <p class="card-text">Profession : <span id="user-profession"></span></p>
                  <p class="card-text">Email : <span id="user-email"></span></p>
                  <p class="card-text">Tel : <span id="user-tel"></span></p>
              </div>
              
          </div>
        
      </div>


  </div>

 

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      
      // get the user data and show on card
      $('#user-select').on('change', function() {
        let userIndex = $(this).find(":checked").val();
        $.get(`/${userIndex}`, (user) => {
          $("#user-nom").text(user.nom);
          $("#user-prenom").text(user.prenom);
          $("#user-age").text(user.age);
          $("#user-profession").text(user.profession);
          $("#user-email").text(user.email);
          $("#user-tel").text(user.tel);
        });
        $('#default').remove();
        $('.card').removeClass("d-none");
      });
    </script>
  </body>
</html>